::-webkit-scrollbar {
    width: 0.6rem;
    height: 0.6rem;
}
::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background-color: var(--bs-primary);
    border-radius: 50rem;
}
::-webkit-scrollbar-thumb:hover {
    background-color: var(--bs-success);
}

.color-primary {
    color: #01408e !important;
}

.color-text {
    color: #1e1e1e !important;
}

.color-gray {
    color: rgba(28, 31, 55, 0.58) !important;
}

.color-yellow {
    background-color: #ffc656 !important;
}

.color-green {
    background-color: #019f90 !important;
}

.color-blue {
    background-color: #017efa !important;
}

.color-pink {
    background-color: #fd1f9b !important;
}

.color-red {
    background-color: #ff0000 !important;
}
