nav.navigasi {
  box-shadow: 0px -2px 85px rgba(0, 0, 0, 0.07),
    0px -0.446726px 18.9859px rgba(0, 0, 0, 0.0417275),
    0px -0.133002px 5.65259px rgba(0, 0, 0, 0.0282725);
}

nav.scrolled {
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(8px);
  border-bottom: 0.5px solid #dadada;
}
