body {
  font-family: "Poppins", sans-serif;
  color: #1e1e1e;
  background-color: #fafafa;
}

.color-primary {
  color: #01408e !important;
}

.color-text {
  color: #1e1e1e !important;
}

.color-gray {
  color: rgba(28, 31, 55, 0.58) !important;
}

.color-yellow {
  background-color: #ffc656 !important;
}

.color-green {
  background-color: #019f90 !important;
}

.color-blue {
  background-color: #017efa !important;
}

.color-pink {
  background-color: #fd1f9b !important;
}

.color-red {
  background-color: #ff0000 !important;
}
